.hourly-weather-tile {
  display: flex;
  flex-direction: row;
}

.line-chart-holder {
  margin-top: 250px;
  max-width: 1400px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.chart-label {
  display: block;
  margin: auto;
  padding: 15px;

  text-align: center;
  margin-top: 20px;
}

.donut-holder {
  display: block;
  margin: auto;
  max-width: 1400px;
}

#donut-row {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  height: 220px;
  justify-content: space-around;
}

#donut-box {
  max-height: 200px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donut-label {
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;

  margin-top: 20px;
  font-size: 20px;
}

.donut-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hourly-button-holder button {
  background-color: #3d1985;
  color: white;
  width: 170px;
  height: 50px;
  border: 0px;
  margin-top: 40px;
  font-size: 18px;
  border-radius: 999px;
  margin: 10px;
}

.hourly-button-holder button:hover {
  background-color: #1e0d41;
}

.bar-holder {
  display: block;
  margin: auto;
  max-width: 1400px;
  margin-bottom: 100px;
}

@media (min-width: 680px) {
  #donut-box {
    height: 500px;
    width: 500px;
  }
  #donut-row {
    height: 500px;
  }
  .donut-label {
    display: block;
    margin: auto;
    padding: 30px;
    width: 400px;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
  }
  .chart-label {
    display: block;
    margin: auto;
    padding: 30px;
    width: 400px;
    text-align: center;
    margin-top: 100px;
  }
}

@media (min-width: 800px) {
  #donut-row {
    height: 600px;
  }
}
