.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 18px 12px;
  z-index: 10;
  color: white;
  /* background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(18, 24, 38, 1)
  ); */
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.nav-bar button {
  background-color: #5022aa;
  border: 0px;
  color: white;
  border-radius: 999px;
  letter-spacing: 1px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
}

.nav-bar button:hover {
  background-color: #121826;
  transition: 0.25s;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}

.nav-right {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nav-right p {
  padding: 0px;
  margin: 0px;
}

.nav-logo {
  visibility: visible;
  font-size: 30px;
}

.nav-link {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
}

.search-input {
  border-radius: 999px;

  border: 0px;
  margin: 3px;
  color: #211539;
  opacity: 70%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.hidden-when-small {
  display: none;
}

.hamburger {
  visibility: visible;
}

@media (min-width: 820px) {
  .search-input {
    min-width: 200px;
    margin-right: 10px;
  }
}

@media (min-width: 680px) {
  .hamburger {
    display: none;
  }

  .hidden-when-small {
    display: unset;
  }
  .nav-logo {
    font-size: 18px;
  }

  /* .nav-bar{
    color: purple;
    background-color: palegreen;
  } */
}
