.search-result-holder {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.search-result {
  /* border: 0.1px solid rgb(31, 31, 31); */
  border: 0.1px solid rgb(50, 159, 153);
  width: 150px;
  margin: 2px;
  /* background-color: rgba(21, 14, 29, 0.4); */
  background-color: rgb(50, 159, 153);
  border-radius: 10px;
}

.search-result:hover {
  background-color: rgba(15, 12, 21, 1);
  border: 0.1px solid rgba(15, 12, 21, 1);
}

.search-result h1 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0px;
  margin: 0px;

}

.search-result p {
  font-size: 14px;
  padding: 0px;
  margin: 2px;
}

.search {
  margin-top: 0px;
  display: block;
  margin: auto;
  max-width: 1400px;
  max-height: 900px;
  text-align: center;
  margin-top: 20px;
}

#search-title {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 1px;
}

.search svg {
  margin-top: 100px;
}

.search span p {
  font-size: 50px;
  font-weight: bolder;
}

@media (min-width: 640px) {
  .search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 180px;
    border-radius: 10px;
    height: 80px;
  }
  .search-result h1 {
    font-size: 16px;
    padding-bottom: 5px;
}



@media (min-width: 850px) {
  .search-result p {
    font-size: 16px;

  }
  #search-title {
    font-size: 28px;
    margin-bottom: 30px;
  }


  .search-result h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 2px;
  }
  .search-result {
    width: 200px;
    border-radius: 15px;
    height: 90px;
    margin: 10px;
}

@media (min-width: 1300px) {
  .search-result h1 {
    font-size: 22px;
    padding-bottom: 20px;
    margin: 10px;

  }

  .search-result p {
    font-size: 18px;
  }

  .search-result {
    width: 230px;
    margin: 10px;
    border-radius: 25px;
    height: 120px;
  }
}
