

.big-temp-text{
  color: white;
  font-size: 200px;
  margin: 0px;
  font-weight: normal;
}

.weather-data {
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: auto;
  text-align:center
}

.weather-data svg {
  display: block;
  margin: auto
}

